apiVersion: v1
stringData:
  CLOUDANT_URL: '<"https://hostname" for IAM authentication or "https://username:password@hostname" for basic authentication>'
  CLOUDANT_APIKEY: '<"apikey value" for IAM authentication or use "" as a value'
kind: Secret
metadata:
  creationTimestamp: null
  name: cloudant
